:root {
  --bg0: #00040F;
  --bg1: #0F2660;
  --bg2: #1F4D29;
  --bg3: #B7B221;
  --card-bg: #ffffff;
  --text: #000000;
  --muted: #6b7280;
  --input: #e5e7eb;
  --primary: #357C2E;
  --primary-hover: rgb(33, 95, 38);
  --ring: rgba(46, 125, 50, .35);
  --radius: 32px;
  --shadow: 0 10px 25px rgba(0,0,0,.12), 0 2px 8px rgba(0,0,0,.06);
}

* { 
  box-sizing: border-box; 
}

html, body { height: 100%; }

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--text);
  background: linear-gradient(330deg, var(--bg3) 0%, var(--bg2) 9%, var(--bg1) 87%, var(--bg0) 100%);
  background-attachment: fixed;
  backdrop-filter: blur(90px);
}


.frame {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  padding: clamp(16px, 4vw, 50px);
}

.card {
  width: min(1350px, 95vw);
  height: min(500px, 90vw);
  background: var(--card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: clamp(20px, 4vw, 40px);
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: clamp(16px, 3vw, 28px);
  align-items: start;
}

/* Coluna esquerda */
.brand {
  /*
  display: flex;
  align-items: center;*/
  gap: 15px;
  margin-bottom: 39px;
}

img.flag{
  max-width: 32%;
  max-height: 32%;
  width: auto;
  height: auto;

}

h1.title {
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
  margin: 8px 0 0;
}

/* Coluna direita */
.form {
  display: grid;
  gap: 14px;
  align-content: start;
}
.field { display: grid; gap: 8px; }
.label {
  font-size: 12px; color: var(--muted);
}
.input {
  width: 100%;
  border: 1px solid var(--input);
  background: #fff;
  border-radius: 10px;
  height: 44px;
  padding: 0 14px;
  font-size: 15px;
  outline: none;
  transition: box-shadow .2s, border-color .2s;
}
.input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px var(--ring);
}

.fineprint {
  font-size: 12px;
  line-height: 1.45;
  color: #6b7280;
  max-width: 56ch;
}

.actions { display: flex; justify-content: flex-end; margin-top: 12px; }

.btn {
  appearance: none; border: none; cursor: pointer;
  background: var(--primary);
  color: #fff; font-weight: 600; font-size: 14px;
  padding: 10px 20px;
  border-radius: 999px;
  transition: transform .04s ease, background-color .2s ease, box-shadow .2s ease;
  box-shadow: 0 6px 14px rgba(46, 125, 50,.25);
}
.btn:hover { background: var(--primary-hover); }
.btn:active { transform: translateY(1px); }

@media (max-width: 900px) {
  .card { grid-template-columns: 1fr; }
  .fineprint { max-width: none; }
  .actions { justify-content: stretch; }
  .btn { width: 100%; }
}
